.button-group {
  display: inline-flex;

  &--direction {
    &-horizontal {
      flex-direction: row;

      .button {
        &:first-of-type:not(:only-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:not(:first-of-type):not(:last-of-type) {
          border-radius: 0;
        }

        &:last-of-type:not(:only-of-type) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    &-vertical {
      flex-direction: column;

      .button {
        &:first-of-type:not(:only-of-type) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:not(:first-of-type):not(:last-of-type) {
          border-radius: 0;
        }

        &:last-of-type:not(:only-of-type) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
