.modal-footer {
  padding: var(--modal-footer-padding-y) var(--modal-footer-padding-x);

  border-bottom-right-radius: var(--modal-border-radius);
  border-bottom-left-radius: var(--modal-border-radius);
}
