.modal-header {
  padding: var(--modal-header-padding-y) var(--modal-header-padding-x);

  border-top-left-radius: var(--modal-border-radius);
  border-top-right-radius: var(--modal-border-radius);
}
