:root,
:host {
  --v-button-bg: transparent;
  --v-button-color: inherit;
  --v-button-font-size: inherit;
  --v-button-line-height: inherit;
  --v-button-border-color: transparent;
  --v-button-padding-y: 0;
  --v-button-padding-x: 0;
  --v-button-border-radius: 0;
  --v-button-gap: 0;
}
