.v-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &--mask {
    background-color: rgba(0, 0, 0, .5);
  }

  &--blur {
    backdrop-filter: blur(2px);
  }
}
