:root {
  --v-scrollbar-thumb-bg: transparent;
  --v-scrollbar-thumb-border-radius: 0;
  --v-scrollbar-width: auto;
  --v-scrollbar-height: auto;
}

.v-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::-webkit-scrollbar-thumb {
    border-radius: var(--v-scrollbar-thumb-border-radius);
    background: var(--v-scrollbar-thumb-bg);

    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &::-webkit-scrollbar {
    width: var(--v-scrollbar-width);
    height: var(--v-scrollbar-height);
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &--draggable {
    cursor: grab;
  }

  &--grabbing {
    cursor: grabbing;

    user-select: none;
  }

  &--hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--vertical {
    overflow-y: auto;
  }

  &--horizontal {
    overflow-x: auto;
  }
}
