.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--radio-group-gap-y) var(--radio-group-gap-x);

  &--direction {
    &-horizontal {
      flex-direction: row;
    }

    &-vertical {
      flex-direction: column;
    }
  }
}
