.row {
  display: flex;
  flex-direction: row;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--gutters {
    &-x {
      margin-right: calc(-1 * var(--row-gutter-x));
      margin-left: calc(-1 * var(--row-gutter-x));

      > .col {
        padding-right: var(--row-gutter-x);
        padding-left: var(--row-gutter-x);
      }
    }

    &-y {
      gap: calc(var(--row-gutter-y) * 2) 0;
    }
  }

  &--justify {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-around {
      justify-content: space-around;
    }

    &-between {
      justify-content: space-between;
    }
  }

  &--align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }

    &-stretch {
      align-items: stretch;
    }
  }
}
