@use '../../mixins/appearance' as *;

.input-native {
  display: block;
  width: 100%;
  outline: none;
  padding: var(--input-native-padding-x, 0) var(--input-native-padding-y, 0);

  @include utils-appearance(none);
}
