.flex-item {
  &--flex {
    &-auto {
      flex: 1 1 auto;
    }

    &-content {
      flex: 0 0 auto;
    }

    &-grow {
      flex: 1 0 auto;
    }

    &-shrink {
      flex: 0 1 auto;
    }
  }
}
