.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: var(--button-margin, 0);
  padding: var(--button-padding-y, 0) var(--button-padding-x, 0);
  gap: var(--button-gap);
  border: var(--button-border-size) var(--button-border-type) var(--button-border-color);

  font-family: var(--button-font-family, inherit);
  font-feature-settings: inherit;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  color: var(--button-color);
  font-weight: var(--button-font-weight);

  text-align: center;
  text-transform: var(--button-text-transform, none);
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;

  cursor: pointer;

  transition: var(--transition-base);

  background-color: var(--button-background-color);
  border-radius: var(--button-border-radius);

  outline: 0;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: not-allowed;
  }

  &--wide {
    width: 100%;
  }

  &--loading {
    &:disabled {
      cursor: wait;
    }

    .button-content {
      opacity: 0;
    }
  }
}
