:root,
:host {
  --v-transition-base-duration: .2s;
  --v-transition-slow-duration: .5s;
  --v-transition-function-name: ease-in-out;
  --v-transition-base: var(--v-transition-base-duration) var(--v-transition-function-name);
}
