:root,
:host {
  --transition-base-duration: .2s;
  --transition-slow-duration: .5s;
  --transition-function-name: ease-in-out;
  --transition-base: var(--transition-base-duration) var(--transition-function-name);
}
